* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: #111111;
  overflow-x: hidden;
}

.rowReverse {
  flex-direction: row-reverse !important;
}

.pageTitle {
  font: 700 2rem "Coiny", serif;
  text-transform: uppercase;
  height: 2.5rem;
}

.contentTitle {
  font: 700 1.5rem "Coiny", serif;
}

.text {
  font: 400 1rem "Poppins", serif;
  color: #777777;
}

.textLink {
  font: 700 1rem "Poppins", serif;
  text-transform: uppercase;
}

.container {
  width: 965px;
  margin: 0 auto;
  padding: 2.68rem;
}

.btnProximo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 200px;
  height: 50px;
  background-color: #111111;
  border-radius: 0.5rem;
  color: #ffffff;
  letter-spacing: 1px;
}

.caixaBtnVoltaAoTopo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  transition: ease-in-out 2s;
  position: fixed;
  top: -100%;
  z-index: 10;
}
.caixaBtnVoltaAoTopo.visivel {
  top: 1rem;
}
.caixaBtnVoltaAoTopo .btnVoltaAoTopo {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  margin: 0 auto;
  text-decoration: none;
  font: 700 0.75rem "Poppins", serif;
  background-color: rgba(255, 255, 255, 0.2509803922);
  border-radius: 99px;
  color: #111111;
  transition: 0.33s;
  box-shadow: 0px 0px 5px 1px #ffffff;
}
.caixaBtnVoltaAoTopo .btnVoltaAoTopo:hover {
  background-color: rgba(255, 255, 255, 0.5019607843);
}

.modalAbrir {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.modalAbrir .btnAbrir {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  background-color: #750089;
  border: none;
  border-radius: 0.5rem;
  margin: 0 auto;
  transition: 0.33s;
  font: 700 2rem "Poppins", serif;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.modalAbrir .btnAbrir:hover {
  box-shadow: inset 0px 0px 33px 0 #db00ff;
}

.parabens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 645px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.parabens .conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 60%;
  border-radius: 0.75rem;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2509803922);
}
.parabens .conteudo .imagem {
  width: 350px;
  height: 100%;
  border-radius: 0.75rem;
  box-shadow: inset 0px 0px 0px 3px #111111;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.parabens .conteudo .mensagem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  width: 50%;
  height: calc(387px - 4rem);
  position: relative;
  padding: 2rem;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 25px 0px rgba(51, 51, 51, 0.2509803922);
}
.parabens .conteudo .mensagem .link {
  text-decoration: none;
  transition: 0.33s;
}
.parabens .conteudo .mensagem .link:hover {
  background-color: #750089;
  box-shadow: inset 0px 0px 20px 0px #db00ff;
}
.parabens .baloesQuina {
  width: 50%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
}
.parabens .baloes {
  width: 25%;
  height: auto;
  position: absolute;
  right: -5rem;
  bottom: -10rem;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: #111111;
  overflow-x: hidden;
}

.rowReverse {
  flex-direction: row-reverse !important;
}

.pageTitle {
  font: 700 2rem "Coiny", serif;
  text-transform: uppercase;
  height: 2.5rem;
}

.contentTitle {
  font: 700 1.5rem "Coiny", serif;
}

.text {
  font: 400 1rem "Poppins", serif;
  color: #777777;
}

.textLink {
  font: 700 1rem "Poppins", serif;
  text-transform: uppercase;
}

.container {
  width: 965px;
  margin: 0 auto;
  padding: 2.68rem;
}

.btnProximo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 200px;
  height: 50px;
  background-color: #111111;
  border-radius: 0.5rem;
  color: #ffffff;
  letter-spacing: 1px;
}

.caixaBtnVoltaAoTopo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  transition: ease-in-out 2s;
  position: fixed;
  top: -100%;
  z-index: 10;
}
.caixaBtnVoltaAoTopo.visivel {
  top: 1rem;
}
.caixaBtnVoltaAoTopo .btnVoltaAoTopo {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  margin: 0 auto;
  text-decoration: none;
  font: 700 0.75rem "Poppins", serif;
  background-color: rgba(255, 255, 255, 0.2509803922);
  border-radius: 99px;
  color: #111111;
  transition: 0.33s;
  box-shadow: 0px 0px 5px 1px #ffffff;
}
.caixaBtnVoltaAoTopo .btnVoltaAoTopo:hover {
  background-color: rgba(255, 255, 255, 0.5019607843);
}

.modalAbrir {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.modalAbrir .btnAbrir {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  background-color: #750089;
  border: none;
  border-radius: 0.5rem;
  margin: 0 auto;
  transition: 0.33s;
  font: 700 2rem "Poppins", serif;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.modalAbrir .btnAbrir:hover {
  box-shadow: inset 0px 0px 33px 0 #db00ff;
}

.felicitacoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 645px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.felicitacoes .conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 60%;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 0.75rem;
  z-index: 1;
}
.felicitacoes .conteudo .imagem {
  width: 350px;
  height: 100%;
  border-radius: 0.75rem;
  box-shadow: inset 0px 0px 0px 3px #111111;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.felicitacoes .conteudo .mensagem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  width: 50%;
  height: calc(387px - 4rem);
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 25px 0px rgba(51, 51, 51, 0.2509803922);
  position: relative;
  z-index: 0;
}
.felicitacoes .conteudo .mensagem .link {
  text-decoration: none;
  transition: 0.33s;
}
.felicitacoes .conteudo .mensagem .link:hover {
  background-color: #a48f00;
  box-shadow: inset 0px 0px 20px 0px #ffde00;
}
.felicitacoes .laco {
  width: 30%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.felicitacoes .presenteEsq {
  width: 15%;
  height: auto;
  rotate: -25deg;
  position: absolute;
  left: -1rem;
  bottom: 25px;
  z-index: 0;
}
.felicitacoes .presenteDir {
  width: 15%;
  height: auto;
  rotate: 25deg;
  position: absolute;
  top: -2rem;
  right: 25rem;
  z-index: 0;
}
.felicitacoes .presentes {
  width: 25%;
  height: auto;
  position: absolute;
  right: -3rem;
  bottom: -2rem;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: #111111;
  overflow-x: hidden;
}

.rowReverse {
  flex-direction: row-reverse !important;
}

.pageTitle {
  font: 700 2rem "Coiny", serif;
  text-transform: uppercase;
  height: 2.5rem;
}

.contentTitle {
  font: 700 1.5rem "Coiny", serif;
}

.text {
  font: 400 1rem "Poppins", serif;
  color: #777777;
}

.textLink {
  font: 700 1rem "Poppins", serif;
  text-transform: uppercase;
}

.container {
  width: 965px;
  margin: 0 auto;
  padding: 2.68rem;
}

.btnProximo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 200px;
  height: 50px;
  background-color: #111111;
  border-radius: 0.5rem;
  color: #ffffff;
  letter-spacing: 1px;
}

.caixaBtnVoltaAoTopo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  transition: ease-in-out 2s;
  position: fixed;
  top: -100%;
  z-index: 10;
}
.caixaBtnVoltaAoTopo.visivel {
  top: 1rem;
}
.caixaBtnVoltaAoTopo .btnVoltaAoTopo {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  margin: 0 auto;
  text-decoration: none;
  font: 700 0.75rem "Poppins", serif;
  background-color: rgba(255, 255, 255, 0.2509803922);
  border-radius: 99px;
  color: #111111;
  transition: 0.33s;
  box-shadow: 0px 0px 5px 1px #ffffff;
}
.caixaBtnVoltaAoTopo .btnVoltaAoTopo:hover {
  background-color: rgba(255, 255, 255, 0.5019607843);
}

.modalAbrir {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.modalAbrir .btnAbrir {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  background-color: #750089;
  border: none;
  border-radius: 0.5rem;
  margin: 0 auto;
  transition: 0.33s;
  font: 700 2rem "Poppins", serif;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.modalAbrir .btnAbrir:hover {
  box-shadow: inset 0px 0px 33px 0 #db00ff;
}

.discurso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 645px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.discurso .conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 60%;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 0.75rem;
  z-index: 1;
}
.discurso .conteudo .imagem {
  width: 350px;
  height: 100%;
  border-radius: 0.75rem;
  box-shadow: inset 0px 0px 0px 3px #111111;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.discurso .conteudo .mensagem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  width: 50%;
  height: calc(387px - 4rem);
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 25px 0px rgba(51, 51, 51, 0.2509803922);
  position: relative;
  z-index: 0;
}
.discurso .conteudo .mensagem .link {
  text-decoration: none;
  transition: 0.33s;
}
.discurso .conteudo .mensagem .link:hover {
  background-color: #00486b;
  box-shadow: inset 0px 0px 20px 0px #0085c7;
}
.discurso .estrela {
  position: absolute;
  z-index: 1;
}
.discurso .estrelaEsq {
  width: 8%;
  height: auto;
  rotate: 65deg;
  left: -1.5rem;
}
.discurso .estrelaDir {
  width: 15%;
  height: auto;
  rotate: 55deg;
  right: -4rem;
  bottom: -1.5rem;
}
.discurso .estrelas {
  position: absolute;
  z-index: 1;
}
.discurso .estrelasCima {
  width: 15%;
  height: auto;
  rotate: -25deg;
  top: -2rem;
  left: 12rem;
  z-index: 0;
}
.discurso .estrelasBaixo {
  width: 10%;
  height: auto;
  rotate: 205deg;
  left: 10rem;
  bottom: -1.25rem;
}
.discurso .estrelasDir {
  width: 12%;
  height: auto;
  rotate: -20deg;
  right: -1rem;
  top: 10rem;
}
.discurso .estrelasBrilhantes {
  position: absolute;
  z-index: 1;
}
.discurso .estrelasBrilhantesEsq {
  width: 50%;
  height: auto;
  top: 0;
  left: -2rem;
}
.discurso .estrelasBrilhantesDir {
  width: 50%;
  height: auto;
  rotate: 180deg;
  right: 0;
  bottom: 0;
  z-index: 0;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: #111111;
  overflow-x: hidden;
}

.rowReverse {
  flex-direction: row-reverse !important;
}

.pageTitle {
  font: 700 2rem "Coiny", serif;
  text-transform: uppercase;
  height: 2.5rem;
}

.contentTitle {
  font: 700 1.5rem "Coiny", serif;
}

.text {
  font: 400 1rem "Poppins", serif;
  color: #777777;
}

.textLink {
  font: 700 1rem "Poppins", serif;
  text-transform: uppercase;
}

.container {
  width: 965px;
  margin: 0 auto;
  padding: 2.68rem;
}

.btnProximo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 200px;
  height: 50px;
  background-color: #111111;
  border-radius: 0.5rem;
  color: #ffffff;
  letter-spacing: 1px;
}

.caixaBtnVoltaAoTopo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  transition: ease-in-out 2s;
  position: fixed;
  top: -100%;
  z-index: 10;
}
.caixaBtnVoltaAoTopo.visivel {
  top: 1rem;
}
.caixaBtnVoltaAoTopo .btnVoltaAoTopo {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  margin: 0 auto;
  text-decoration: none;
  font: 700 0.75rem "Poppins", serif;
  background-color: rgba(255, 255, 255, 0.2509803922);
  border-radius: 99px;
  color: #111111;
  transition: 0.33s;
  box-shadow: 0px 0px 5px 1px #ffffff;
}
.caixaBtnVoltaAoTopo .btnVoltaAoTopo:hover {
  background-color: rgba(255, 255, 255, 0.5019607843);
}

.modalAbrir {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.modalAbrir .btnAbrir {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  background-color: #750089;
  border: none;
  border-radius: 0.5rem;
  margin: 0 auto;
  transition: 0.33s;
  font: 700 2rem "Poppins", serif;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.modalAbrir .btnAbrir:hover {
  box-shadow: inset 0px 0px 33px 0 #db00ff;
}

.carta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 645px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.carta .conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
  height: 60%;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 0.75rem;
}
.carta .conteudo .imagem {
  width: 350px;
  height: 100%;
  border-radius: 0.75rem;
  box-shadow: inset 0px 0px 0px 3px #111111;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carta .conteudo .mensagem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  height: 100%;
}
.carta .conteudo .mensagem .text {
  width: 50%;
  height: auto;
  text-align: justify;
}
.carta .conteudo .link {
  min-height: 50px;
  text-decoration: none;
  transition: 0.33s;
}
.carta .conteudo .link:hover {
  background-color: #950000;
  box-shadow: inset 0px 0px 20px 0px #fa0000;
}
.carta .carta {
  position: absolute;
  z-index: 0;
}
.carta .cartaEsqCima {
  width: 17%;
  height: auto;
  rotate: 25deg;
  top: 3.5rem;
  left: -3rem;
}
.carta .cartaDirCima {
  width: 12%;
  height: auto;
  rotate: -15deg;
  top: 4rem;
  right: 8rem;
}
.carta .cartaEsqBaixo {
  width: 10%;
  height: auto;
  rotate: -15deg;
  left: 20rem;
  bottom: 3rem;
  z-index: 1;
}
.carta .cartaDirBaixo {
  width: 18%;
  height: auto;
  rotate: 30deg;
  right: 15rem;
  bottom: -4rem;
  z-index: 1;
}
.carta .lotus {
  width: 20%;
  height: auto;
  left: -1rem;
  bottom: -3rem;
  position: absolute;
  z-index: 1;
}
.carta .lirio {
  width: 30%;
  height: auto;
  right: -10rem;
  bottom: -5rem;
  position: absolute;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: #111111;
  overflow-x: hidden;
}

.rowReverse {
  flex-direction: row-reverse !important;
}

.pageTitle {
  font: 700 2rem "Coiny", serif;
  text-transform: uppercase;
  height: 2.5rem;
}

.contentTitle {
  font: 700 1.5rem "Coiny", serif;
}

.text {
  font: 400 1rem "Poppins", serif;
  color: #777777;
}

.textLink {
  font: 700 1rem "Poppins", serif;
  text-transform: uppercase;
}

.container {
  width: 965px;
  margin: 0 auto;
  padding: 2.68rem;
}

.btnProximo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 200px;
  height: 50px;
  background-color: #111111;
  border-radius: 0.5rem;
  color: #ffffff;
  letter-spacing: 1px;
}

.caixaBtnVoltaAoTopo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  transition: ease-in-out 2s;
  position: fixed;
  top: -100%;
  z-index: 10;
}
.caixaBtnVoltaAoTopo.visivel {
  top: 1rem;
}
.caixaBtnVoltaAoTopo .btnVoltaAoTopo {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  margin: 0 auto;
  text-decoration: none;
  font: 700 0.75rem "Poppins", serif;
  background-color: rgba(255, 255, 255, 0.2509803922);
  border-radius: 99px;
  color: #111111;
  transition: 0.33s;
  box-shadow: 0px 0px 5px 1px #ffffff;
}
.caixaBtnVoltaAoTopo .btnVoltaAoTopo:hover {
  background-color: rgba(255, 255, 255, 0.5019607843);
}

.modalAbrir {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.modalAbrir .btnAbrir {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  background-color: #750089;
  border: none;
  border-radius: 0.5rem;
  margin: 0 auto;
  transition: 0.33s;
  font: 700 2rem "Poppins", serif;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.modalAbrir .btnAbrir:hover {
  box-shadow: inset 0px 0px 33px 0 #db00ff;
}

.final {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 645px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.final .fundoOfuscado {
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 1920px 192px #000000;
  background-color: rgba(0, 0, 0, 0.5019607843);
  position: absolute;
}
.final .conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
  height: 60%;
}
.final .conteudo .carrosel {
  width: 66%;
  height: 100%;
  overflow: hidden;
}
.final .conteudo .carrosel .carrosel-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.final .conteudo .carrosel .slide {
  box-sizing: border-box;
  min-width: 100%;
  padding: 20px;
  font: 700 2rem "Coiny", serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.final .conteudo .carrosel button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #444444;
  border: none;
  border-radius: 99px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.25s;
}
.final .conteudo .carrosel button:hover {
  background-color: #2b2b2b;
}
.final .conteudo .carrosel #prev {
  left: 10rem;
}
.final .conteudo .carrosel #next {
  right: 10rem;
}/*# sourceMappingURL=estruturas.css.map */