@use '../tools.scss' as *;

section.felicitacoes {
    @extend %defaultSectionStyle;

    div.conteudo {
        @extend %defaultContentStyle;
        z-index: 1;

        div.imagem {
            min-width: 350px;
            height: 100%;
            @extend %bgImageCenter;
            border-radius: .75rem;
            box-shadow: inset 0px 0px 0px 3px $black;
        }

        article.mensagem {
            @include flexAlignContent(column, space-between, null, 0);
            @include size(100%, 100%);
            padding: 2rem;

            background-color: $white;
            border-radius: .75rem;
            box-shadow: 0px 0px 25px 0px #33333340;

            position: relative;
            z-index: 0;

            h2.pageTitle {
                @extend %ftTitle;
            }

            p.text {
                @extend %ftText;
            }

            a.link {
                text-decoration: none;
                transition: .33s;

                &:hover {
                    background-color: $darkColorTwo;
                    box-shadow: inset 0px 0px 20px 0px $colorTwo;
                }

                p.textLink {
                    @extend %ftLink;
                }
            }
        }
    }

    img.laco {
        @include size(30%, auto);
        transition: 1s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    img.presenteEsq {
        @include size(15%, auto);
        rotate: -25deg;
        transition: 1s;
        position: absolute;
        left: -1rem;
        bottom: 25px;
        z-index: 0;
    }

    img.presenteDir {
        @include size(15%, auto);
        rotate: 25deg;
        transition: 1s;
        position: absolute;
        top: -2rem;
        right: 25rem;
        z-index: -0;
    }

    img.presentes {
        @include size(25%, auto);
        transition: 1s;
        position: absolute;
        right: -3rem;
        bottom: -2rem;
        z-index: 1;
    }
}