// Flexbox*
@mixin flexAlignContent($direction: row, $justify: flex-start, $align: left, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// Media Screen*
@mixin mediaScreen($screenSize) {
    @if ($screenSize == mobile) {
        @media screen and (min-width: 320px) { @content; }
    } @else if ($screenSize == tablet) {
        @media screen and (min-width: 768px) { @content; }
    } @else if ($screenSize == laptop) {
        @media screen and (min-width: 1024px) { @content; }
    } @else if ($screenSize == desktop) {
        @media screen and (min-width: 1440px) { @content; }
    }
}

// Size*
@mixin size($width: auto, $height: auto) {
    width: $width;
    height: $height;
}
