// ====== Flexbox ====== //
@mixin flexAlignContent(
    $direction: row,
    $justify: flex-start,
    $align: left,
    $gap: 0
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}


// ====== Media Querie ====== //
@mixin TABLET() {
    @media screen and (min-width: 768px) { @content; }
}
@mixin LAPTOP() {
    @media screen and (min-width: 1024px) { @content; }
}
@mixin DESKTOP() {
    @media screen and (min-width: 1920px) { @content; }
}


// ====== Size ====== //
@mixin size($width, $height) {
    width: $width;
    height: $height;
}
