@use 'variables' as *;

// ====== Titles ====== //
%ftTitle {
    font: 700 2rem $ftTitle;
    text-transform: uppercase;
    height: 2.5rem;
    color: $black;
}


// ====== Texts ====== //
%ftText {
    font: 400 1rem $ftText;
    line-height: 1.66rem;
    text-align: justify;
    color: $gray;
}


// ====== Labels ====== //
%ftLink {
    font: 700 1rem $ftText;
    text-transform: uppercase;
    color: $white;
}
