@import '../../ferramentas/ferramentas.scss';

.carta {
    @include flexAlignContent(row, center, center, 0);
    @include size(100%, 645px);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .conteudo {
        @include flexAlignContent(column, space-between, center, 1rem);
        position: relative;
        z-index: 1;
        height: 60%;

        background-color: $cinzaClaro;
        box-shadow: 0px 0px 25px 0px #00000040;
        border-radius: .75rem;

        .imagem {
            @include size(350px, 100%);
            border-radius: .75rem;
            box-shadow: inset 0px 0px 0px 3px $preto;
            
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .mensagem {
            @include flexAlignContent(row, space-between, null, 3rem);
            @include size(100%, 100%);
            
            .text {
                @include size(50%, auto);
                text-align: justify;
            }
        }

        .link {
            min-height: 50px;
            text-decoration: none;
            transition: .33s;
            
            &:hover {
                background-color: lighten($vermelhoEscuro, 10%);
                box-shadow: inset 0px 0px 20px 0px lighten($vermelho, 10%);
            }
        }
    }

    .carta {
        position: absolute;
        z-index: 0;
    }    
    .cartaEsqCima {
        @include size(17%, auto);
        rotate: 25deg;
        top: 3.5rem;
        left: -3rem;
    }
    .cartaDirCima {
        @include size(12%, auto);
        rotate: -15deg;
        top: 4rem;
        right: 8rem;
    }
    .cartaEsqBaixo {
        @include size(10%, auto);
        rotate: -15deg;
        left: 20rem;
        bottom: 3rem;
        z-index: 1;
    }
    .cartaDirBaixo {
        @include size(18%, auto);
        rotate: 30deg;
        right: 15rem;
        bottom: -4rem;
        z-index: 1;
    }


    .lotus {
        @include size(20%, auto);
        left: -1rem;
        bottom: -3rem;
        
        position: absolute;
        z-index: 1;
    }
    .lirio {
        @include size(30%, auto);
        right: -10rem;
        bottom: -5rem;
        
        position: absolute;
        z-index: 1;
    }
}
